body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("../img/plano_fundo.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #1a1a2e;
    color: #333;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;*/
}
form {
    background-color: rgba(255, 255, 255, 0.85); ;
    max-width: 800px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    padding: 40px;
    box-sizing: border-box;
}


div{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border-style: solid;
    border-color: #212121;
    width: 900px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
p{
    color:#353b48;
    font-family: "Arial";
    font-style: normal;
    font-size: 15px;
    text-align: justify;
    margin-left: 5em;
    margin-right: 5em;
}

h1, h2, h3 {
    color: #0f1123;
    text-align: center;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 150px;
height: auto;
}
.preencher{
    border-radius: 8px;
}
.marg{
margin-left: 3em;
margin-right: 3em;  
}